div(ng-include='"app/shell/navbar/navbar.html"')
#survey
  header
    .jumbotron
      h1 Hello tiger, I'm Jungmo
      p.lead nice to meet you, U're very special
  .container
    .row
      .col-lg-12
        h1 Create Survey
        .well.well-sm
          form.form.form-horizontal(name='form', ng-submit='createSurvey(form)', novalidate)
            .form-group.required(ng-class='{"has-error": form.firstName.$invalid && submitted }')
              label.control-label.col-sm-3 First Name
              .col-sm-9
                input.form-control(type='text', name='firstName', ng-model='newSurvey.firstName', required)
                p.help-block(ng-show='form.firstName.$error.required && submitted')
                  | first name is required
            .form-group.required(ng-class='{"has-error": form.lastName.$invalid && submitted }')
              label.control-label.col-sm-3 Last Name
              .col-sm-9
                input.form-control(type='text', name='lastName', ng-model='newSurvey.lastName', required)
                p.help-block(ng-show='form.lastName.$error.required && submitted')
                  | last name is required
            .form-group.required(ng-class='{"has-error": form.dateOfBirth.$invalid && submitted }')
              label.control-label.col-sm-3 Date of birth
              .col-sm-9
                .input-group
                  input.form-control(type='text', name="dateOfBirth", uib-datepicker-popup='dd-MMMM-yyyy',
                  ng-model='newSurvey.dateOfBirth',
                  is-open='datePopupOpen', datepicker-options='dateOptions', close-text='Close',
                  required, readOnly)
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='datePopupOpen = true')
                      i.glyphicon.glyphicon-calendar
                p.help-block(ng-show='form.dateOfBirth.$error.required && submitted')
                  | Date of birth is required
            .form-group(ng-show="newSurvey.dateOfBirth")
              label.control-label.col-sm-3 Age
              .col-sm-9
                //age will be not saved to DB
                p.form-control-static {{newSurvey.dateOfBirth | calcAge}}
            .form-group
              label.control-label.col-sm-3 Speciality
              .col-sm-9
                select.form-control(name="speciality",ng-model='newSurvey.speciality',
                ng-options='skill for skill in skills')
                  option(value="") Choose your speciality please
            .form-group
              label.control-label.col-sm-3 Experience in languages
              .col-sm-9
                select.form-control(name="expInLanguages",ng-model='newSurvey.expInLanguages',
                ng-options='language for language in languages',multiple)
                p.help-block you can select multiple languages by mouse click with command or shift key.
            .bottom-buttons.col-sm-6.col-sm-offset-6
              .col-sm-6
                button.btn.btn-danger.btn-block(type="button", ng-click="resetForm()") Reset
              .col-sm-6
                button.btn.btn-primary.btn-block(type='submit') Submit
            .clearfix

    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading Surveys
          table.table.table-hover
            thead
              th First Name
              th Last Name
              th Date of birth(Age)
              th Speciality
              th Exp in Languages
            tbody
              tr(ng-repeat='survey in surveys')
                td {{survey.name}}
  footer.footer
    .container.text-center
      p
        | Jungmo Kang
        = ' | '
        a(href='https://www.facebook.com/moya.kang1',target="_blank")
          i.fa.fa-facebook-official
